:not(pre)>code {
  display: inline-block;
  padding: 2px 6px;
}

.types > dt {
  margin: 1em 0 0;
}

ul.parameters {
  border-top: 1px solid #ddd;
  margin: 1.5em 0 0;
  padding-top:0;

  dt > code {
    margin: 0 0 0.5em;
  }

  > li {
    display:flex;
    flex-direction: row;
    padding: 0 0 1em;

    > header {
      display:flex;
      flex-direction: column;
      margin: 1em 0 0;
      width: 33%;
      min-width: 115px;
      max-width: 150px;
      margin-right: 1em;
      flex: 0 0 auto;
      align-items: flex-start;

      > small {
        padding: 4px 1px;
        font-weight: 300;
        color: #999;
      }
    }

    > section {
      margin: 1em 0 0;
    }
  }
}

.parameter-note {
  display: block;
  margin: 1em 0;
  font-size: smaller;
  color: #666;
}
