:not(pre)>code {
  display: inline-block;
  padding: 2px 6px;
}

.places-type > dt {
  margin: 1em 0 0;
}

ul.parameters {
  border-top: 1px solid #ddd;
  // border-bottom: 1px solid #ddd;
  margin: 1.5em 0 0;
  padding-top:0;

  dt > code {
    margin: 0 0 0.5em;
  }

  > li {
    display:flex;
    flex-direction: row;
    padding: 0 0 1em;

    > span {
      display:flex;
      flex-direction: column;
      margin: 1em 0 0;
      width: 115px;
      margin-right: 1em;
      flex: 0 0 auto;
      align-items: flex-start;

      > .optional,
      > .required,
      > .type {
        padding: 4px 1px;
        font-weight: 300;
      }

      > .optional,
      > .type {
        color: #999;
      }
    }
  }
}
