
.location-map-view {
  margin: 1em 0 0;
  width: 100%;
  height: 450px;

  > .map {
    width: 100%;
    height: 100%;
  }
}


/* temporary overrides for location controls */
.leaflet-coordinate-control,
.leaflet-geocode-control,
.leaflet-geolocation-control,
.leaflet-location-control,
.leaflet-point-control {
  padding: 0;
}
